* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: block;
  padding: 2rem;
}

section {
  display: block;
  margin-bottom: 2rem;
}

form {
  display: block;
}

label {
  display: block;
}

input[type='text'],
textarea {
  width: 100%;
}

input[type='text']:read-only,
textarea:read-only {
  background: #f4f4f4;
}

textarea {
  height: 200px;
}

pre {
  width: 100%;
  white-space: break-spaces;
  word-break: break-all;
}
